.vs/
obj/
bin/
TestResults/
packages/
.svn/
Logs/*
*.user
*.csproj.user
Vitrium.WebViewer.Web/app.properties
Vitrium.WebViewer.Web/Static/PDFViewerUI/*
*.user

/**/.idea/**
!/**/.idea/
!/**/.idea/*/
!/**/.idea/*/.idea/
!/**/.idea/*/.idea/runConfigurations/
!/**/.idea/*/.idea/runConfigurations/*
!/**/.idea/**/watcherTasks.xml
!./run
/pdf-viewer-ui/.eslintcache
/pdf-viewer-ui/.eslintcache
/ServiceWorker/node_modules/*
/ServiceWorker/dist/*

*.orig
